body {
    color: orange;
    background-color: #2e2e2e;
    user-select: none;
}
#app {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#clickerDiv {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, red,yellow, green);
    border: 2px solid black;
    margin: 40px;
    text-align: center;
}
#pointsDiv {
    width: 300px;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
}
#gameContainer{
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.levelIndicator{
    font-size: 24px;
    margin-bottom: 15px;
}
#circleText {
    display:flex;
    flex-direction: column;
    padding-top: 140px;
    color:black;
    text-decoration: underline;
    font-weight: bolder;
    font-size: large;
    user-select: none;
}