body {
    background-color:#2e2e2e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#clickerDiv {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, red,yellow, green);
    border: 2px solid black;
    margin: 40px;
    text-align: center;
    cursor: pointer;
}